<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.stopbreathbelauncher">

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.HOME"/>
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StopBreathBeLauncher">

        <!-- Onboarding: first-launch only -->
        <activity
            android:exported="true"
            android:screenOrientation="portrait"
            android:name="com.example.stopbreathbelauncher.ui.screens.OnboardingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Launcher: real HOME activity -->
        <activity
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:name="com.example.stopbreathbelauncher.ui.screens.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Settings activity -->
        <activity
            android:exported="false"
            android:screenOrientation="portrait"
            android:name="com.example.stopbreathbelauncher.ui.screens.SettingsActivity" />

    </application>

</manifest>